@import url(../vendor/normalize.css);
@import url(../blocks/header.css);
@import url(../blocks/cards.css);
@import url(../blocks/profile.css);
@import url(../blocks/popup.css);
@import url(../blocks/popupaddcard.css);
@import url(../vendor/fonts/inter.css);

body{
    background-color: black;
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
}
@media screen and (max-width:380px){
    body{
       padding-left: 31px;
       padding-right: 37px;
    }
     }